.icon-zhihu,
.icon-sina,
.icon-github,
.icon-wechat {
    width: 35px;
    height: 35px;
}

.icon-zhihu {
    // background-image: url("assets/images/zhihu.png");
}

.icon-sina {
    // background-image: url("assets/images/sina.png");
}

.icon-github {
    // background-image: url("assets/images/github.png");
}

.icon-wechat {
    // background-image: url("assets/images/wechat.png");
}

.icon-md {
    width: 30px;
    height: 30px;
}

.icon-sm {
    width: 24px;
    height: 24px;
}